.accardion{
    list-style-type: none;
    margin:2% 0;
    padding: 3% 5%;
    border-radius: 7px;
    width: 100%;
}
.accardion-item{
    /* border-top: solid 1px; */
    border-bottom: solid 1px;
    margin-bottom: 16px;
    background-color: #ffff;
}

.accardion-header{
    position: relative;
    width: 100%;
    padding: 3vmin;
    background-color: #fff;
    border: 0;
    outline: none;
    border-radius: 7px;
    text-align: left;
    cursor: pointer;
}
.accardion-header h4{
    font-size: clamp(13px, calc(var(--text)*1),25px);
    max-width: 90%;
    font-weight: 500;
}

.accardion-collapse{
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
}

.accardion-collapse.open{
    height: auto;
}

.accardion-body{
    padding: 2vmin 3vmin;
    background-color: #f1f1f1;
    font-size: clamp(11px, calc(var(--text)*.8),18px);
    color: #393939;
}


.accardion-arrow{
    position: absolute;
    top: 50%;
    right: 20px;
    display: block;
    width: 30px;
    height: 17px;
    transform: translateY(-50%);
}

.accardion-arrow.active{
    transform: translateY(-50%) rotate(180deg);
}