.details_header{
    width: 100%;
    height: 80vmin;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}
*::selection{
    background-color: #FE940A;
    color: #fafafa;
}
.details_header::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0005;
    top: 0;
}
.dedais__header-content{
    color: #fff;
    position: relative;
    text-align: center;
}
.dedais__header-content h2{
    font-size: clamp(15px, calc(var(--text)*1.7),55px);
    font-weight: 100;
}
.dedais__header-content p{
    font-weight: 100;
    margin-top: 1%;
    font-size: clamp(13px, calc(var(--text)*1),25px);
}
.btn button{
    cursor: pointer;
}

.cardDetails{
    width: 200px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.card .btn{
    width: 80%;
    height: 10%;
    background-color: cadetblue;
    text-align: center;
    /* font-size: 1.5em; */
}
.tours_con{
    
    padding:3% 0 2% calc(12% - 3vmin);
    display: flex;
    flex-wrap: wrap;
    
    row-gap: 5vmin;
    column-gap: 1%;
}
.cardDetails{
    border-radius: 5vmin;
    width: clamp(150px,22%, 600px);
    height: clamp(230px, 55vmin, 800px);
    color: #fff;
    position: relative;
    padding: 3vmin;
    overflow: hidden;
}
.cardDetails img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.cardDetails-content{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    gap: 5%;
}
.cardDetails-content h2{
    font-size: clamp(13px, calc(var(--text)*1),25px);
    position: relative;
    z-index: 3;
}
.cardDetails-content h3{
    font-size: clamp(11px, calc(var(--text)*.8),20px);
    position: relative;
    z-index: 3;
}
@media (max-width:1204px) {
    
    .cardDetails{
        width: clamp(150px,23%, 600px);
        height:clamp(230px, 40vmin, 800px) ;
    }
}
.cardDetails-content a button{
    width: 100%;
    border: none;
    position: relative; 
    z-index: 2;
    border-radius: 15px;
    padding: 5%;
}
.cardDetails::before{
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 100%;
    background-color: #0005;
}

