.header{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: clamp(80vh,95vmin,95vmin);
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 2% 5%;
}

.header.header_bg_1{
    background-image: url("https://images.unsplash.com/photo-1610720684893-619cd7a5cde5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.header.header_bg_2{
    background-image: url("https://images.unsplash.com/photo-1608497735578-11912e18ed9f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.header.header_bg_3{
    background-image: url("https://images.unsplash.com/photo-1567886793773-d59bfd7f0aa6?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.header_title{
    position: absolute;
    top: 50%;
    left: 15%;
    right: 15%;
    z-index: 2;
    text-align: center;
    color: #fff;
    font-size: clamp(20px, 6vmin, 60px);
}
.header_title b{
    color:  #FA7436;
}
.overlay-image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: clamp(80vh,95vmin,95vmin);
    background: rgba(0, 0, 0, 0.5);
}
