.header{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: clamp(80vh,95vmin,95vmin);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 5%;
}

.header.header_bg_1{
    background-image: url("./header-img/header-1.avif");
}

.header.header_bg_2{
    background-image: url("./header-img/header__img_2.jpg");
}

.header.header_bg_3{
    background-image: url("./header-img/header-4.avif");
}

.header_title{
    position: absolute;
    top: 50%;
    left: 15%;
    right: 15%;
    z-index: 2;
    text-align: center;
    color: #fff;
    font-size: clamp(20px, 6vmin, 60px);
}
.header_title b{
    color:  #FA7436;
}
.overlay-image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: clamp(80vh,95vmin,95vmin);
    background: rgba(0, 0, 0, 0.5);
}
