.header_slider_con{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.header_slider_img{
    width: 100%;
    height: clamp(200px, 5vmin, 500px);
    background-color: gainsboro;
    border-radius: 10px;
}

.header_slider_img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}